@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: #1b1f27;
}

.area-de-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    width: 355px;
    height: 320px;
    padding: 35px;
    border-radius: 8px;
}

.login img{
   width: 65px;
   height: auto;
} 

.login form {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
}

.login input{
    margin-top: 10px;
    background-color: #1b1f27;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
    color: aliceblue;
    padding-left: 10px;
}

input::placeholder {
    color: aliceblue;
    font-size: 14px;
}

.login form input[type="submit"]{
    padding-left:  0;
    cursor: pointer;
    margin-top: 3rem;
    transition: all .3s ease-in-out;
}

.login form input[type="submit"]:hover{
    background-color: #303849;
}

.login p {
    color: aliceblue;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
}

.login a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #4e63cc;
}

.circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #c26848, #636faa );
    clip-path: circle(30% at center);
    z-index: -1;
}